<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div style="margin:10%;">
        <h2>안녕하세요.</h2>
        <h2>반려견 이별 도우미 서비스 기억할개 입니다.</h2>
        <br>
        <p>회원가입을 위해 하단의 인증 코드를 입력해주세요.</p>
        <br>
        <div align="center" style="border:1px solid #ddd; font-family:verdana;">
            <h3 style="color:#222" th:text="${code}"> </h3>
        </div>
        <br/>
    </div>
</body>
</html>